<div class="home">
    <div class="home__image">
        <img src="../../assets/img/icon.png" alt="mainImage"/>
    </div>
    <div class="home__main">
        <h2>My name</h2>
        <p class="home__date">03.09.1995</p>
        <p class="home__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat hic corrupti quisquam aliquam, adipisci ducimus officiis at perferendis, est asperiores maiores modi exercitationem quaerat error autem, unde alias. Quibusdam minus, ipsa tempore harum quae amet quis voluptate neque dolorum eaque animi tenetur excepturi alias delectus similique, corporis optio atque dignissimos.</p>
    </div>
</div>